# dependencies
node_modules
/.pnp
.pnp.js

# production
/build
/dist

# misc
.DS_Store

npm-debug.log*
.vscode
# ignore atlas credentials files anywhere in this project - saftey stuff
dbConfig.json
service/dbConfig.json