# dependencies
node_modules
/.pnp
.pnp.js

# production
/build
/dist

# misc
.DS_Store

npm-debug.log*
.vscode
# Ignore Atlas credentials files anywhere in this project
dbConfig.json
service/dbConfig.json